<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">{{ selectedPage }}</span>
        <div class="md-toolbar-section-end">
          Hi {{ loggedInUser.name }}
          <md-button class="md-icon-button" @click="onLogout">
            <md-icon>power_settings_new</md-icon>
          </md-button>
        </div>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-persistent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Menu</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <md-list-item v-for="(item, index) in menu" :key="index" @click="onLinkSelected(item)">
            <md-icon>{{ item.icon }}</md-icon>
            <span class="md-list-item-text">{{ item.label }}</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
  import Auth from '@/services/auth'
  import { HTTP } from '@/services/http-common'
  import UserPermissions from '@/services/user-permissions'
  import store from '@/store'

  /**
   * returns a promise that can be resolved with
   * all users from the backend.
   */
  function getUsers () {
    return HTTP.get('/users')
  }

  /**
   * Resolve with current logged in user
   */
  function getLoggedInUser () {
    return HTTP.get('/api/user')
  }

  export default {
    data: () => ({
      menuVisible: false,
      loggedInUser: null,
      menu: [{
        label: 'Inbox',
        icon: 'move_to_inbox',
        pageUrl: '/dashboard'
      }, {
        label: 'Sent Mail',
        icon: 'send',
        pageUrl: '/dashboard/sent-mails'
      }, {
        label: 'Trash',
        icon: 'delete',
        pageUrl: '/dashboard/trash'
      }]
    }),
    computed: {
      /**
       * The application header shows the label for selected page
       * Each page whenever loaded, saves its name in the store
       */
      selectedPage () {
        return this.$store.getters.selectedPage
      }
    },
    methods: {
      /**
       * reverse the menu state, open <=> close
       */
      toggleMenu () {
        this.menuVisible = !this.menuVisible
      },

      /**
       * Navigate the user to selected page
       * and close the menu
       */
      onLinkSelected (menuItem) {
        this.$router.push(menuItem.pageUrl)
        this.toggleMenu()
      },

      /**
       * deletes the user token from local storage
       * and redirect him to login page
       */
      onLogout () {
        Auth.logout()
        this.$router.push('/login')
      },

      /**
       * package https://github.com/leonardovilarinho/vue-acl
       * observes this.access to check available permissions
       */
      setAccess (permissions) {
        this.access = permissions
      },

      /**
       * Add ACL menu item in array if user has permissions to
       * access this link
       */
      setACLMenuItem () {
        if (this.access.indexOf(this.$constants.PERMISSIONS.acl) !== -1) {
          this.menu.push({
            label: 'ACL',
            icon: 'settings',
            pageUrl: '/dashboard/settings'
          })
        }
      }
    },
    /**
     * Fetch current logged in user and list of users that are registerd in the application
     * Note: Fetching all registered user at once can make the application slow over time
     * The backend API should support pagination to fetch data page wise.
     *
     * Make parallel requests to get current logged in user and all registered users
     */
    beforeRouteEnter (to, from, next) {
      Promise.all([getUsers(), getLoggedInUser()])
      .then(res => {
        store.dispatch('setUserList', res[0].data)
        store.dispatch('setLoggedInUser', res[1].data)
        // setup current user permissions
        const permissions = UserPermissions.getUserPermissions(res[1].data.email)
        next(vm => {
          vm.setAccess(permissions)
          // once permissions has been set, check if
          // user can view ACL menu link
          vm.setACLMenuItem()
        })
      }).catch(error => {
        console.log(error)
        next(false)
      })
    },
    created () {
      this.loggedInUser = this.$store.getters.loggedInUser
    }
  }
</script>

<style lang="scss" scoped>
  .md-app {
    min-height: 350px;
    border: 1px solid rgba(#000, .12);
  }

  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

  .md-toolbar + .md-toolbar {
    margin-top: 16px;
  }
</style>