<template>
  <div>
    <!-- $can helper method is from vue-acl package -->
    <div class="compose" v-show="$can(permissions.compose)">
      <md-button class="md-dense md-raised md-primary" @click="onCompose">Compose</md-button>
    </div>
    <app-datatable></app-datatable>
  </div>
</template>

<script>

export default {
  data () {
    return {
      permissions: null
    }
  },
  methods: {
    onCompose () {
      this.$toaster.success('This is just to demonstrate ACL')
    }
  },

  created () {
    this.$store.dispatch('setPage', this.$constants.PAGE.inbox)
    this.permissions = this.$constants.PERMISSIONS
  }
}
</script>

<style scoped>
.compose {
  width: 100%;
  text-align: right;
  margin: 5px;
}
</style>