<template>
  <div>
    <!-- show a waiting spinner when backend calls are in process -->
    <app-spinner v-if="loading"></app-spinner>
    <form novalidate class="md-layout-row md-gutter" @submit.prevent="handleLogin">

      <md-card class="md-flex-50 md-flex-small-100">
        <md-card-header>
          <div class="md-title">Login</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout-row md-layout-wrap md-gutter">
            <div class="md-flex md-flex-small-100">
              <md-field>
                <label for="email">Email</label>
                <md-input type="email" name="email" id="email" v-model="login.user"/>
              </md-field>
            </div>
          </div>

          <md-field :md-toggle-password="false">
            <label for="password">Password</label>
            <md-input type="password" name="password" id="password" v-model="login.password" />
          </md-field>
        </md-card-content>

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="loading">Login</md-button>
          Don' have an account?
          <a>
            <router-link to="/signup">Signup</router-link>
          </a>
        </md-card-actions>
      </md-card>

    </form>
    
  </div>
</template>

<script>
import { HTTP } from '@/services/http-common'
import Auth from '@/services/auth'

export default {
  props: {
  },
  data () {
    return {
      loading: false,
      login: {
        user: '',
        password: ''
      }
    }
  },
  computed: {
    // Keep your computed properites here
  },
  methods: {
    handleLogin () {
      this.loading = true
      /**
       * Backend is setup with laravel passport and it needs client_secret to
       * authenticate a user; client information is hard coded therefore.
       * TODO: We need to make sure that coded client_id and client_secret should
       * exist in DB;
       */
      const postData = {
        grant_type: 'password',
        client_id: 2,
        client_secret: '1cYqOohUR51eMdUZS73UPlBByPiTIlC7w8seG2pN',
        username: this.login.user,
        password: this.login.password,
        scope: ''
      }

      HTTP.post('/oauth/token', postData)
          .then(response => {
            this.loading = false
            Auth.storeToken(response.data.access_token)
            /**
             * redirect user to desired url, If he logs in after
             * trying to access a url that needs authentication
             */
            const redirectUrl = this.$route.query.redirect || '/dashboard'
            // redirect user to dashboard page
            this.$router.push(redirectUrl)
          })
          .catch(error => {
            console.log(error)
            this.$toaster.error('Please check your credentials')
            this.loading = false
          })
    }
  }
}
</script>