<template>
  <div>
    <md-empty-state
      md-icon="code"
      md-label="Permission Denied!"
      md-description="Ask admin to provide permissions to access this page">
    </md-empty-state>
  </div>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('setPage', this.$constants.PAGE.permission_denied)
    }
  }
</script>
