<template>
  <div>
    <md-empty-state
      md-icon="send"
      md-label="Sent Mails"
      md-description="You will see your sent mails here!">
    </md-empty-state>
  </div>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('setPage', this.$constants.PAGE.sent_mails)
    }
  }
</script>
