<template>
    <div>
        <div class="acl-layout">
            <div>
                <md-autocomplete v-model="selectedUser" :md-options="userList">
                    <label>User Email</label>
                </md-autocomplete>
            </div>
            <div v-show="selectedUser">
                <div class="screens">
                    <md-subheader>Pages</md-subheader>
                    <md-checkbox v-model="accessList" :value="permissions.inbox">Inbox</md-checkbox>
                    <md-checkbox v-model="accessList" :value="permissions.sentMails">Sent Mails</md-checkbox>
                    <md-checkbox v-model="accessList" :value="permissions.trash">Trash</md-checkbox>
                </div>
                <div class="buttons">
                    <md-subheader>Buttons</md-subheader>
                    <md-checkbox v-model="accessList" :value="permissions.compose">Compose</md-checkbox>
                </div>
                <div>
                    <md-content class="md-primary">
                        Compose button is available on inbox page
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import UserPermissions from '@/services/user-permissions'

  export default {
    data: () => ({
      permissions: {},
      accessList: [],
      selectedUser: null,
      userList: []
    }),
    methods: {
      /**
        * extract user email ids from user list except admin
        * Since we don't want admin to change his
        * own permissions
        */
      setUserList () {
        this.userList = this.$store.getters.userList
        .map(user => user.email)
        .filter(email => email !== this.$constants.adminEmail)
      }
    },
    watch: {
      // marked permissions needs to be stored in local storage
      accessList: function (newAccess) {
        UserPermissions.storeUserPermissions(this.selectedUser, newAccess)
      },
      // load user permission from local storage once a new user is selected
      selectedUser: function () {
        this.accessList = UserPermissions.getUserPermissions(this.selectedUser)
      }
    },

    created () {
      this.$store.dispatch('setPage', this.$constants.PAGE.acl)
      this.permissions = this.$constants.PERMISSIONS
      this.setUserList()
      this.accessList = this.$root.access
    }
  }
</script>

<style lang="scss" scoped>
    .md-content {
        width: 500px;
        display: inline-flex;
        margin-top: 100px;
        padding: 15px;
        margin-left: 0;
    }

    .md-checkbox {
        display: flex;
    }

    .acl-layout {
        width: 300px;
        text-align: center;
        .screens {
            width: 150px;
            float: left;
        }
        .buttons {
            float: right;
            width: 150px;
    }
  }
    

</style>
