<template>
  <div>
    <app-spinner v-if="loading"></app-spinner>
    <form novalidate class="md-layout-row md-gutter" @submit.prevent="validateUser">
      <md-card class="md-flex-50 md-flex-small-100">
        <md-card-header>
          <div class="md-title">Signup</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout-row md-layout-wrap md-gutter">
            <div class="md-flex md-flex-small-100">
              <md-field :class="getValidationClass('name')">
                <label for="first-name">First Name</label>
                <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="form.name" :disabled="loading" />
                <span class="md-error" v-if="!$v.form.name.required">The first name is required</span>
              </md-field>
            </div>
          </div>

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="loading" />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>

          <md-field :md-toggle-password="false" :class="getValidationClass('password')">
            <label for="password">Password</label>
            <md-input type="password" name="password" id="password" v-model="form.password" :disabled="loading" />
            <span class="md-error" v-if="!$v.form.password.required">Password is required</span>
            <span class="md-error" v-else-if="!$v.form.password.minlength">Password must be 6 characters long</span>
          </md-field>

        </md-card-content>

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="loading">Signup</md-button>
          Have an account?
          <a>
            <router-link to="/login">Login</router-link>
          </a>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</template>

<script>
  import { HTTP } from '@/services/http-common'
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'FormValidation',
    mixins: [validationMixin],
    data: () => ({
      form: {
        name: null,
        email: null,
        password: null
      },
      userSaved: false,
      loading: false,
      lastUser: null
    }),
    validations: {
      form: {
        name: {
          required
        },
        email: {
          required,
          email
        },
        password: {
          required,
          minLength: minLength(6)
        }
      }
    },
    methods: {
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.name = null
        this.form.email = null
        this.form.password = null
      },
      saveUser () {
        this.loading = true
        HTTP.post('/register', this.form)
          .then(response => {
            this.loading = false
            this.$toaster.success('You have successfully registerd ! Login Now')
            this.$router.push('/login')
          })
          .catch(error => {
            this.loading = false
            const errors = error.response.data.errors
            let errMessage = ''
            // collect all errors in errMessage
            for (var key in errors) {
              // check also if property is not inherited from prototype
              if (errors.hasOwnProperty(key)) {
                errMessage = errors[key][0]
              }
            }
            this.$toaster.error(errMessage)
          })
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveUser()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  
</style>