<template>
  <div class="overlay">
    <md-progress-bar class="md-accent" md-mode="indeterminate"></md-progress-bar>
  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss" scoped>

// https://www.w3schools.com/howto/howto_css_overlay.asp

/* Transparent Overlay */
.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

</style>