<template>
  <div>
    <md-empty-state
      md-icon="delete"
      md-label="Trashed Mails"
      md-description="You will see your trashed mails here!">
    </md-empty-state>
  </div>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('setPage', this.$constants.PAGE.trash)
    }
  }
</script>
