<template>
  <div>
    <app-spinner v-if="loading"></app-spinner>
    <div class="filter-bar ui basic segment grid">
      <div class="ui form">
        <div class="inline field">
          <label>Search for:</label>
          <input type="text" v-model="filterText" class="three wide column" @keyup.enter="doFilter" placeholder="name, email">
          <button class="ui primary button" @click="doFilter">Go</button>
          <button class="ui button" @click="resetFilter">Reset</button>
        </div>
      </div>
    </div>
    <vuetable ref="vuetable"
      api-url="https://vuetable.ratiw.net/api/users"
      :fields="fields"
      pagination-path=""
      @vuetable:pagination-data="onPaginationData"
      @vuetable:loading="onLoading"
      @vuetable:load-success="onLoadSuccess"
      @vuetable:load-error="onLoadError"
      :append-params="moreParams" 
    >
    <template slot="actions" slot-scope="props">
      <div class="custom-actions">
        <button class="ui basic button"
          @click="changeCaseOfName(props.rowData, props.rowIndex)">
          <i :class="props.rowData.isLowerCase ? 'expand' : 'compress'" class="icon"></i>
        </button>
        <button class="ui basic button"
          @click="onItemDelete(props.rowData, props.rowIndex)">
          <i class="delete icon"></i>
        </button>
      </div>
    </template>
    </vuetable>

     <vuetable-pagination 
     ref="pagination"
     @vuetable-pagination:change-page="onChangePage"
     ></vuetable-pagination>
  </div>
</template>

<script>

import moment from 'moment'
import Vue from 'vue'
export default {
  data () {
    return {
      loading: false,
      filterText: '',
      moreParams: {},
      fields: [
        {
          name: 'name',
          sortField: 'name'
        },
        {
          name: 'email',
          sortField: 'email'
        },
        {
          name: 'birthdate',
          sortField: 'birthdate',
          callback: 'formatDate|DD-MM-YYYY'
        },
        {
          name: '__slot:actions',
          title: 'Actions',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        }
      ]
    }
  },
  methods: {
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    formatDate (value, fmt = 'D MMM YYYY') {
      return (value == null)
        ? ''
        : moment(value, 'YYYY-MM-DD').format(fmt)
    },
    doFilter () {
      this.moreParams = {
        'filter': this.filterText
      }
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    resetFilter () {
      this.moreParams = {}
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    onLoading () {
      this.loading = true
    },
    onLoadError () {
      this.loading = false
    },
    onLoadSuccess () {
      this.loading = false
    },
    onItemDelete (data, index) {
      this.$refs.vuetable.tableData.splice(index, 1)
    },

    changeCaseOfName (data, index) {
      data.name = data.isLowerCase ? data.name.toUpperCase() : data.name.toLowerCase()
      data.isLowerCase = !data.isLowerCase
    }
  },

  created () {
  }
}
</script>

<style scoped>
.compose {
  width: 100%;
  text-align: right;
  margin: 5px;
}

.custom-actions button.ui.button {
  padding: 8px 8px;
}
.custom-actions button.ui.button > i.icon {
  margin: auto !important;
}
</style>