
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");
@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css");
// @import "~font-awesome/css/font-awesome.css";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/vue-material/dist/vue-material.min.css";

// Import the theme engine
@import "~vue-material/dist/theme/engine"; 

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200), // The primary color of your application
  accent: md-get-palette-color(red, A200) // The accent and secondary color
));

// Apply the theme
@import "~vue-material/dist/theme/all"; 

// Load toaster css 
@import 'v-toaster/dist/v-toaster.css'